<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FireInventory.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
				<key>dateExpires</key>
				<string>12/11/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76E3A744199962F9D2E24D99C2DA026BCFFBC649</string>
						<key>dateExpires</key>
						<string>12/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S8Q95J3VGG</string>
						<key>name</key>
						<string>Haafiz Shafau</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.32</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S8Q95J3VGG.com.king.FireInventory</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S8Q95J3VGG</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FireInventory.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>577c922c-cc82-440c-a355-156cca35c637</string>
				<key>dateExpires</key>
				<string>10/4/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.king.FireInventory</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S8Q95J3VGG</string>
				<key>name</key>
				<string>Haafiz Shafau</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
